{% extends "inner_layout.html" %}
{% block inner_body %}
<script src="{{ url_for('static', filename='js/feedTable.js') }}"></script>

<script>
    const data = {{ dispense_data | tojson }};
    console.log("data in script ",data)
    window.addEventListener("load", () => {
       filterTable(0, data);
  });
    function handlePreviousClick(){
        filterTable(-1, data);
    }
    function handleNextClick(){
        filterTable(1, data);
    }

</script>

<div class="content-container">
<div class="table-header display-flex-horizontal">
    <div class="table-header-inner">
        <div class="halfsize thirdsplit">
            <h2 id="dayString" >Date thing</h2>
        </div>
        <div class="halfsize 2 third2split">
            <div class="thirdsplit flex-reverse-row">            
                <button class="buttontable" onclick="handlePreviousClick()" >
                Previous
            </button>
        </div>
        <div class="thirdsplit display-flex-horizontal">
            <h2 id="whenstring">Today</h2>
        </div>           
            <div  class="thirdsplit  flex-row">            
                <button class="buttontable"  onclick="handleNextClick()" id="nextButton">
                Next
            </button>
        </div>

        </div>
    </div>
</div>
<div class="horizontal">
<div class="side-bar">
    <div class="full-box">
        <div class="halfbox">
            <div class="icon_container">
                <img class="icon_stats" src="../static/dog-eating.png" style="width:100%;"/>
            </div>
            <p>Total Eaten</p>
            <h3 id='totalEatenStat' >3 g</h3>
        </div>
     <div  class="halfbox">
        <div class="icon_container">
            <img class="icon_stats" src="../static/dog-food.png" style="width:100%;"/>
        </div>
        <p>Total Dispensed</p>
            <h3 id='totalDispensedStat' >3 g</h3>
        </div>
    </div> 
    <div class="full-box">
        <div  class="halfbox">
            <div class="icon_container">
                <img class="icon_stats" src="../static/dont-eat.png" style="width:100%;"/>
            </div>
            <p>Total Not Dispensed</p>
            <h3 id='totalNotDispensedStat' >3 g</h3>
        </div>
        <div  class="halfbox">
            <div class="icon_container">
                <img class="icon_stats" src="../static/restaurant.png" style="width:100%;"/>
            </div>
            <p>Peek Eating Hour</p>
            <h3 id='peekEatingHourStat' >17.00</h3></div>
    </div> 
    <div class="full-box">
        <div class="halfbox">
            <div class="icon_container">
                <img class="icon_stats" src="../static/moon.png"  style="width:100%;"/>
            </div>
            <p>Latest Eating</p>
            <h3 id='latestEatingHourStat' >19.00</h3></div>
                <div class="halfbox">
                    <div class="icon_container">
                        <img class="icon_stats" src="../static/sunrise.png" style="width:100%;"/>
                    </div><p>Earliest Eating</p>
                    <h3 id='earliestEatingStat' >06.00</h3>
                </div>
    </div>  
</div>
<div class="table-container-outer">
    <div class="table-container">
        <table id="dispenseTable">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Dispensed (g)</th>
                    <th>Eaten (g)</th>
                    <th>Not Dispensed (g)</th>
                    <th>Dispenser Empty/Stuck</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h1 id="dataMessage">No Data for this day.</h1>
    </div>
</div>
</div>
</div>
{% endblock %}
