{% extends "main_layout.html" %} {% block body %}
    <div class="navBar">
        <div class="innerWidth">
            <button class="navButton" onclick="directFeedData()">Feed Data</button>
            <button class="navButton" onclick="directFeedSettings()">Feed Settings</button>
            <button class="navButton" onclick="logout()">Logout Button</button>
        </div>
    </div>
    <div class="innerContainer">
        <div class="innerWidth">
            {% block inner_body  %} {% endblock %}
        </div>
    </div>
    <script>
        function logout(){
            window.location.href = `/logout`;
        }
        function directFeedData(){
            if (window.location.href !== `/` ){
                window.location.href = `/`;
            }
        }
        function directFeedSettings(){
            if (window.location.href !== `/settings` ){
                window.location.href = `/settings`;
            }
        }
    </script>
{% endblock %}