{% extends "inner_layout.html" %}
{% block inner_body %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>

<script>
    const settings = {{ dispenser_settings | tojson }};
    let currentMode = settings.mode
    console.log("Current mode ",currentMode)
    console.log("Data in script:", settings);
    window.addEventListener("load", () => {
        setUIMode(currentMode)
        loadSettingsTable(settings)
    });

    function handleSwitchClick(){
        console.log("Current mode ",currentMode)
        currentMode = switchMode(currentMode)
        console.log("NEW MODE ",currentMode)
    }
</script>


<div class="content-container">
    <div class="settingsContainer">
        <div class="modeContainer highlighted" id="automatic-container">
            <div class="coverSettings" id="manualCover">
                <div class="offTextContainer"><h1 class="OffText">OFF</h1></div>
                
            </div>
            <div class="modeContainerInner">
                <h1>Manual Mode</h1>
                <div class="settingsTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Amount(kg)</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody id="settingsTableBody">
                            
                        </tbody>
                    </table>
                </div>
                <div id="settingsInput" >
                    <div style="width:45%;"  class="settingInputInner">
                        <input type="time" id="timeInput" placeholder="Input Time" style="width:80%"></input>
                        <label for="amount">Time</label>
                    </div>
                    <div style="width:45%;" class="settingInputInner">
                    <input type="number" id="amountInput" placeholder="Input Amount"  style="width:80%"></input>
                    <label for="amount">In Kg</label>
                    </div>
                    <button style="margin-top:10px;" onclick="addManualSetting()">Add Manual Setting</button>
                </div>
            </div>
        </div>
        <button class="switch-mode-button" onclick="handleSwitchClick()">
            <img src="../static/switchLeft.png" class="switchImg" id="switchautomatic" style="display:none" />
            <img src="../static/switchRight.png" class="switchImg" id="switchmanual" style="display:none"/>
        </button>
        <div  class="modeContainer" id="manual-container">
            <div class="coverSettings" id="automaticCover">
                <div class="offTextContainer"><h1 class="OffText">OFF</h1></div>
            </div>
            <div class="modeContainerInner">
                <h1>Automatic Mode</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
