#layoutContainer {
    min-width: 100vw;
    display: flex;
    min-height: 100vh;
    background-color: aliceblue;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
body {
    margin:0px;
    padding:0px;
    min-height:100vh;
    background-color: #007bff
}
h1 {
    margin:0px;
    padding:0px;
    color:black;
}
p{
    margin:0px;
    padding:0px;
    color:#5a3e2b;
}
h2 {
    margin:0px;
    padding:0px;
    color:black;
}
h3 {
    margin:0px;
    padding:0px;
    color:black;
}

