.table-header {
    width:100%;
    top:0px;
    height:10%;
    background-color: #fdf5e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 0px;
}
.content-container{
    display: flex;
    min-height:90%;
    height: 90%;
    width:100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 90%;
    width:100%;
}
.display-flex-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.table-header-inner{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.side-bar{
    height: 100%;
    width: 33%;
    min-width: 350px;
    background-color: #fdf5e6;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

td {
    font-size: 15px;
}
.longtd{
    min-width: 300px;
}
.thirdsplit{
    width:33%;
    width: 33%;
    min-width: 350px;
}
.third2split{
    width:66%;
}

.halfsize {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.buttontable {
    width:100px;
    height:44px;
}
.flex-reverse-row{
    display:flex;
    flex-direction: row-reverse;
}
.flex-row{
    display:flex;
    flex-direction: row;
}
.full-box{
    display: flex;
    flex-grow: 0;
    min-height: 12%;
    max-height: 12%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}
.halfbox {
    min-width: 40%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-container {
    max-width: 100%;
    min-width: 100%;
    max-height: 95%;
    height: 100%;
    background-color: #fdf5e6;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.table-container-outer {
    height: 99%;
    width:63%;
    margin-left:6px;
    background-color: #fdf5e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
}

thead {
    background-color: #ceaf67;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

.numeric {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}